.storybook-button {
  font-family: 'Noto Sans JP';
  font-weight: 700;
  padding: 15px 32px;
  border: 0;
  border-radius: 0.25em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: white;
  background-color: #07a764;
}
.storybook-button--secondary {
  color: rgb(255, 254, 254);
  background-color: #07a764;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
